En vous basant sur les précédents travaux pratiques que vous avez effectués. Construire une application web interactive utilisant la librairie streamlit et une ou deux librairies de dataviz (matplotlib, seaborn, altair, bokeh et plotly).

L'idée principale du projet est de choisir un jeu de données de data.gouv.fr et de construire une application web de dataviz pour répondre à des questions utiles sur ce jeu de données, en donnant à vos utilisateurs des informations utiles et la possibilité d'interagir avec les données.

Le jeu de données que vous choisissez peut avoir un lien avec le thème de l'ESR, ce n'est pas obligatoire mais fortement recommandé. Voici le lien pour en savoir plus sur l'ESR : https://www.economie.gouv.fr/entreprises/responsabilite-societale-entreprises-rse

## Directives techniques :
L'application streamlit doit respecter les **exigences techniques** suivantes (vous les organisez comme vous le souhaitez, car le plus important est d'apporter des informations à vos utilisateurs) :
- Tout le code doit être organisé en fonctions, si vous pouvez écrire des commentaires, c'est toujours mieux. Pensez à du code modulable, à des blocs de traitement de données, à des étapes de travail. Cela vous aidera à organiser votre code en fonctions modulaires.
- 4 graphiques internes à streamlit : st.line, st.bar_chart, st.scatter_chart, st.map
- 4 graphiques externes différents (histogrammes, diagrammes à barres, diagrammes de dispersion ou diagrammes circulaires) intégrés à votre application à partir de bibliothèques externes telles que matplotlib, seaborn, plotly ou Altair.
- 4 éléments interactifs (case à cocher, curseur ....)
- Utilisation du cache : cache pour le chargement et le pré-traitement des données
- - Optionnel : un décorateur qui enregistre dans un fichier l'intervalle de temps d'exécution en secondes (30 secondes, 2 secondes, 0.01 seconde, ...) et l'horodatage de l'appel ()
- - Facultatif : essayez d'organiser vos appels de fonctions dans une fonction principale afin d'avoir un flux de travail clair de votre application.

**Gardez à l'esprit que l'idée est de fournir des informations utiles et de dessiner une histoire à propos de vos données. Vous devez donc prendre le temps d'explorer, de concevoir et d'organiser votre tableau de bord en choisissant les questions auxquelles vous voulez répondre et les informations que vous voulez présenter.**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer


print("--- IMPORT DONE ---")

--- IMPORT DONE ---

In [5]:
dataframe = pd.read_csv("C:\Data\Projet CODE\Code Python\Data Visualisation\DataViz S7\Project\data\gouv_data\consommation-quotidienne-brute.csv", delimiter=';')
dataframe.head()

,date_heure,date,heure,consommation_brute_gaz_grtgaz,statut_grtgaz,consommation_brute_gaz_terega,statut_terega,consommation_brute_gaz_totale,consommation_brute_electricite_rte,statut_rte,consommation_brute_totale
0,2023-08-31T23:30:00+02:00,31/08/2023,23:30,NaN,NaN,NaN,NaN,NaN,42710,Consolidé,NaN
1,2023-08-31T23:00:00+02:00,31/08/2023,23:00,23599.0,Définitif,1114.0,Définitif,24713.0,43562,Consolidé,68275.0
2,2023-08-31T22:30:00+02:00,31/08/2023,22:30,NaN,NaN,NaN,NaN,NaN,44426,Consolidé,NaN
3,2023-08-31T22:00:00+02:00,31/08/2023,22:00,24935.0,Définitif,1181.0,Définitif,26116.0,43430,Consolidé,69546.0
4,2023-08-31T21:30:00+02:00,31/08/2023,21:30,NaN,NaN,NaN,NaN,NaN,43281,Consolidé,NaN

In [3]:
dataframe.isnull().sum()

date_heure                                 0
date                                       0
heure                                      0
consommation_brute_gaz_grtgaz         103008
statut_grtgaz                         102264
consommation_brute_gaz_terega         102267
statut_terega                         102264
consommation_brute_gaz_totale         103012
consommation_brute_electricite_rte         0
statut_rte                                 0
consommation_brute_totale             103012
dtype: int64

In [5]:
list_col = dataframe.columns.to_list()
list_col

['date_heure',
 'date',
 'heure',
 'consommation_brute_gaz_grtgaz',
 'statut_grtgaz',
 'consommation_brute_gaz_terega',
 'statut_terega',
 'consommation_brute_gaz_totale',
 'consommation_brute_electricite_rte',
 'statut_rte',
 'consommation_brute_totale']

In [6]:
# dataframe.head(200)

In [4]:
dataframe[['date', 'heure']] = dataframe[['date', 'heure']].apply(pd.to_datetime)

C:\Users\freir\AppData\Local\Temp\ipykernel_2904\4148266463.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dataframe[['date', 'heure']] = dataframe[['date', 'heure']].apply(pd.to_datetime)
C:\Users\freir\AppData\Local\Temp\ipykernel_2904\4148266463.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataframe[['date', 'heure']] = dataframe[['date', 'heure']].apply(pd.to_datetime)

In [8]:
dataframe.dtypes

date_heure                                    object
date                                  datetime64[ns]
heure                                 datetime64[ns]
consommation_brute_gaz_grtgaz                float64
statut_grtgaz                                 object
consommation_brute_gaz_terega                float64
statut_terega                                 object
consommation_brute_gaz_totale                float64
consommation_brute_electricite_rte             int64
statut_rte                                    object
consommation_brute_totale                    float64
dtype: object

In [9]:
dataframe.describe()

,date,heure,consommation_brute_gaz_grtgaz,consommation_brute_gaz_terega,consommation_brute_gaz_totale,consommation_brute_electricite_rte,consommation_brute_totale
count,204528,204528,101520.000000,102261.000000,101516.000000,204528.000000,101516.00000
mean,2017-10-30 23:59:58.732691968,2023-10-17 11:44:59.999999744,49315.428507,3133.306285,52439.624325,53498.660042,105879.17414
min,2012-01-01 00:00:00,2023-10-17 00:00:00,781.000000,153.000000,1877.000000,28738.000000,44104.00000
25%,2014-12-01 00:00:00,2023-10-17 05:52:30,26344.000000,1336.000000,27712.000000,44375.000000,73511.00000
50%,2017-10-31 00:00:00,2023-10-17 11:45:00,41633.500000,2414.000000,44074.500000,51722.000000,94097.00000
75%,2020-09-30 00:00:00,2023-10-17 17:37:30,69425.250000,4596.000000,74056.000000,61611.000000,134888.25000
max,2023-08-31 00:00:00,2023-10-17 23:30:00,296157.000000,13621.000000,297703.000000,101866.000000,345991.00000
std,NaN,NaN,26691.293571,2121.834455,28741.978921,11966.136059,39489.74678

In [10]:
dataframe.count()

date_heure                            204528
date                                  204528
heure                                 204528
consommation_brute_gaz_grtgaz         101520
statut_grtgaz                         102264
consommation_brute_gaz_terega         102261
statut_terega                         102264
consommation_brute_gaz_totale         101516
consommation_brute_electricite_rte    204528
statut_rte                            204528
consommation_brute_totale             101516
dtype: int64

In [11]:
dataframe.head()

,date_heure,date,heure,consommation_brute_gaz_grtgaz,statut_grtgaz,consommation_brute_gaz_terega,statut_terega,consommation_brute_gaz_totale,consommation_brute_electricite_rte,statut_rte,consommation_brute_totale
0,2023-08-31T23:30:00+02:00,2023-08-31,2023-10-17 23:30:00,NaN,NaN,NaN,NaN,NaN,42710,Consolidé,NaN
1,2023-08-31T23:00:00+02:00,2023-08-31,2023-10-17 23:00:00,23599.0,Définitif,1114.0,Définitif,24713.0,43562,Consolidé,68275.0
2,2023-08-31T22:30:00+02:00,2023-08-31,2023-10-17 22:30:00,NaN,NaN,NaN,NaN,NaN,44426,Consolidé,NaN
3,2023-08-31T22:00:00+02:00,2023-08-31,2023-10-17 22:00:00,24935.0,Définitif,1181.0,Définitif,26116.0,43430,Consolidé,69546.0
4,2023-08-31T21:30:00+02:00,2023-08-31,2023-10-17 21:30:00,NaN,NaN,NaN,NaN,NaN,43281,Consolidé,NaN

In [6]:
dataframe = dataframe[1::2]

In [7]:
dataframe.isnull().sum()

date_heure                              0
date                                    0
heure                                   0
consommation_brute_gaz_grtgaz         780
statut_grtgaz                          84
consommation_brute_gaz_terega          39
statut_terega                          84
consommation_brute_gaz_totale         784
consommation_brute_electricite_rte      0
statut_rte                              0
consommation_brute_totale             784
dtype: int64

In [14]:
dataframe[dataframe['consommation_brute_gaz_grtgaz'].isna()]

,date_heure,date,heure,consommation_brute_gaz_grtgaz,statut_grtgaz,consommation_brute_gaz_terega,statut_terega,consommation_brute_gaz_totale,consommation_brute_electricite_rte,statut_rte,consommation_brute_totale
7625,2023-03-26T03:30:00+02:00,2023-03-26,2023-10-17 03:30:00,NaN,NaN,NaN,NaN,NaN,37351,Consolidé,NaN
11665,2022-12-31T23:00:00+01:00,2022-12-31,2023-10-17 23:00:00,NaN,Définitif,2153.0,Définitif,NaN,47566,Définitif,NaN
11667,2022-12-31T22:00:00+01:00,2022-12-31,2023-10-17 22:00:00,NaN,Définitif,2381.0,Définitif,NaN,45841,Définitif,NaN
11669,2022-12-31T21:00:00+01:00,2022-12-31,2023-10-17 21:00:00,NaN,Définitif,2559.0,Définitif,NaN,45898,Définitif,NaN
11671,2022-12-31T20:00:00+01:00,2022-12-31,2023-10-17 20:00:00,NaN,Définitif,2657.0,Définitif,NaN,47840,Définitif,NaN
...,...,...,...,...,...,...,...,...,...,...,...
130265,2016-03-27T03:30:00+02:00,2016-03-27,2023-10-17 02:30:00,NaN,NaN,NaN,NaN,NaN,52243,Définitif,NaN
147737,2015-03-29T03:30:00+02:00,2015-03-29,2023-10-17 02:30:00,NaN,NaN,NaN,NaN,NaN,52852,Définitif,NaN
165209,2014-03-30T03:30:00+02:00,2014-03-30,2023-10-17 03:30:00,NaN,NaN,NaN,NaN,NaN,47855,Définitif,NaN
182681,2013-03-31T03:30:00+02:00,2013-03-31,2023-10-17 03:30:00,NaN,NaN,NaN,NaN,NaN,62694,Définitif,NaN
200489,2012-03-25T03:30:00+02:00,2012-03-25,2023-10-17 02:30:00,NaN,NaN,NaN,NaN,NaN,47196,Définitif,NaN

In [15]:
dataframe.describe()

,date,heure,consommation_brute_gaz_grtgaz,consommation_brute_gaz_terega,consommation_brute_gaz_totale,consommation_brute_electricite_rte,consommation_brute_totale
count,102264,102264,101484.000000,102225.000000,101480.000000,102264.000000,101480.000000
mean,2017-10-30 23:59:57.465383680,2023-10-17 11:30:01.548932352,49307.832900,3132.782362,52431.497418,53499.433926,105868.888057
min,2012-01-01 00:00:00,2023-10-17 00:00:00,781.000000,197.000000,1877.000000,28738.000000,44104.000000
25%,2014-12-01 00:00:00,2023-10-17 05:52:30,26340.750000,1336.000000,27710.000000,44360.750000,73505.750000
50%,2017-10-31 00:00:00,2023-10-17 11:45:00,41620.500000,2413.000000,44054.000000,51725.500000,94071.000000
75%,2020-09-30 00:00:00,2023-10-17 17:37:30,69408.250000,4595.000000,74034.250000,61598.250000,134873.000000
max,2023-08-31 00:00:00,2023-10-17 23:30:00,296157.000000,13621.000000,297703.000000,101866.000000,345991.000000
std,NaN,NaN,26690.513758,2121.785967,28741.146745,11983.039721,39489.427258

In [16]:
dataframe['consommation_brute_gaz_grtgaz'].fillna(41620.500000)

1         23599.0
3         24935.0
5         26360.0
7         27466.0
9         27928.0
           ...
204519    53745.0
204521    52836.0
204523    52251.0
204525    52236.0
204527    52099.0
Name: consommation_brute_gaz_grtgaz, Length: 102264, dtype: float64

In [17]:
dataframe['consommation_brute_gaz_grtgaz'].isnull().sum()

780